*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.merriweather-headers {
  font-family: "Merriweather", serif;
  font-variation-settings:
    "wdth" 100;
}


.inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}




main{
    max-width: 1320px;
    margin: 0 auto;
}




/* HERO SECTION */



.hero-section{
    margin-bottom:200px;
}

.hero-section-img{
    height: 700px;
    background-image: url(../images/Banner\ Image.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    text-align: center;
    position: absolute;
    color: white;
}

.hero-content h4{
    font-size: 40px;
    font-weight: 00;
}

.hero-content h1{
    font-size: 70px;
    font-weight: bolder;
}


/* DISCOUNT SECTION */


.discount-section{
    text-align: center;
    margin-bottom:200px;
}

.discount-section-content h2{
    color: red;
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 20px;
}

.discount-section-content p{
    font-size: 24px;
    margin-bottom: 10px;
}

.discount-section-content h3{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}


/* PARTY SECTION  */

.party-section{
    position: relative;
    margin-bottom:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.party-section-content{
    text-align: left;
    position: absolute;
    height: 400PX;
    width: 800PX; 
}

.party-section-content h3{
    font-size: 60px;
    color: white;
    padding-bottom: 30px;
}

.party-section-content p{
    font-size: 18px;
    color: white;
    padding-bottom: 30px;
}

.party-section-content button{
    padding: 20px;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
}


/* VENUE SECTION */


.venue-section{
    margin-bottom:200px;
    background-image:linear-gradient(to top, white,rgb(255, 221, 221));
    padding: 50px;
    text-align: center;
    border-radius: 10px;
}


.venue-date-time h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.venue-date-time span{
    color:red;
}


.btn{
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    margin-top: 10px;
}


/* coming soon section  */


.cmng-soon-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:200px;
}

.cmng-soon-section span{
    color: red;
}

.right-side-des{
    width: 350px;
}

.right-side-des h4{
  margin-bottom: 16px; 
  font-size: 24px;
}

.right-side-des h3{
  margin-bottom: 16px;
  font-size: 48px; 
}

.right-side-des p{
  text-align: justify;
  font-size: 20px;
}


.img-side img{
    height:350px;
    width: 350px;
    border: 10px solid red;
    border-radius: 50%;
    padding: 30px;
}


.left-side-des{
    width: 350px;
}

.left-side-des h3{
    margin-bottom: 16px;
    font-size: 48px; 
}

.left-side-des p{
    margin-bottom: 16px;
    font-size: 20px; 
   
}

.left-side-des img{
    height: 100px;
    width: 100px;
}


/* HOLIDAY SALE SECTION  */


.holiday-sale-section{
   margin-bottom:200px;
   position: relative;
}

.bottom {
    margin-top: 400px;
}

.box{
    position: absolute;
    left:50px;
    bottom: 40px;
    width: 600px;
}

.holi-sale-des{
    text-align: center;
}

.round{
    position: absolute;
    right: 50px;
    bottom: 40%;
}


.holi-sale-des h4{
    font-size: 24px;
    padding-bottom: 20px;
}
    
.holi-sale-des h3{
    font-size: 72px;
    padding-bottom: 20px;
}

.holi-sale-des h3 span{
    color: red;
}

.holi-sale-des p{
    font-size: 20px;
    padding-bottom: 20px;
}


/* PRODUCTS SECTION  */


.products-section{
    margin-bottom:200px;
}


.products-section-des h4{
    color: red;
    padding-bottom: 10px;
}

.products-section-des h3{
    font-size: 48px;
    padding-bottom: 10px;
}


.products-section-des p{
    font-size: 20px;
    padding-bottom: 50px;
}


.products-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}


/* NEWSLETTER SECTION  */


.newsletter-section{
    background-color: rgb(255, 221, 221);
    border-radius: 10px;
    height: 600px;
    text-align: center;
    padding: 80px;
    margin-bottom: 200px;
}



.newsletter-des h3{
    font-size: 48px;
    padding-bottom: 10px;
}

.newsletter-des p{
    font-size: 20px;
    padding-bottom: 20px;

}


.subscribe-box {
  width: 500px;
  background: white;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  justify-content:center;
    margin: 0 auto
}


.subscribe-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 50px;
  background: transparent;
  font-size: 14px;
}


.subscribe-box button {
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  background: red;
  color: white;
  font-weight: 500;
  cursor: pointer;
}


/* FOOTER  */


.footer{
    background-color: black;
    padding: 80px;
}


.footer-all{
    width: 1300px;
    margin: 0 auto;
}

.footer-head{
    color: white;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    padding: 30px;
}

.social-icons{
   text-align: center;
    border-bottom: 1px solid white;
    padding: 30px;
}

.footer-down{
    color: white;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    padding: 30px;
}

